*{
    box-sizing: border-box;
}

body{
    background: hsl(0, 50%, 25%);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

h1{
    font-size: 30px;
    text-transform: capitalize;
}

.container{
    margin: 20px auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex{
    display: flex;
    margin: 40px auto;
}

.form-flex{
    display: flex;
    justify-content: center;
}

input, button{
    border: 1px solid white;
    font-size: 15px;
    padding: 10px;
    margin-left: 0;
    margin-right: 0;
}

input[type='text']{
    width: 300px;
}

.search-btn{
    cursor: pointer;
    border-left: 0;
    border: 1px solid white;
    background-color: white;
}

.random-btn{
    cursor: pointer;
    background-color: grey;
}

.results-heading{
    font-weight: 800;
    font-size: 15px;
}

#meals{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.meal{
    position: relative;
}

.meal img{
    width: 100%;
    height: auto;
    border: 2px solid white;
    margin-bottom: 5px;
}

.meal-info{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
}

.meal:hover .meal-info{
    opacity: 1;
}

.single-meal{
    margin: 30px auto;
    width: 70%;
}

.single-meal img{
    width: 400px;
    margin: 15px;
    border: 4px solid white;
    border-radius: 2px;
    margin: 20px;
}

.single-meal-info{
    margin: 20px;
    padding: 10px;
    border: 2px orange dashed;
    border-radius: 5px;
}

.single-meal p{
    margin: 0;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

h5{
    margin: 25px auto 15px auto;
    font-weight: bold;
    font-size: 22px;
}

.single-meal ul{
    list-style-type: none;
    padding-left: 0;
}

.single-meal ul li{
    border:  5px solid #f6f6f6;
    border-radius: 5px;
    background-color: white;
    display: inline-block;
    color: black;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
}


@media(max-width: 800px){
    #meals{
        grid-template-columns: repeat(3, 1fr);
        margin: 20px;
    }
}
@media(max-width: 700px){
    #meals{
        grid-template-columns: repeat(2, 1fr);
    }

    .single-meal{
        width: 80%;
    }

    .single-meal img{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media(max-width: 500px){
    input[type="text"]{
        width: 100%;
    }

    #meals{
        grid-template-columns: repeat(2, 1fr);
    }
}